body{
    margin: 0px;
}
#para1{
    background: black ;

}
.header{background:black ;
    font-size: 13px;
    font-style: italic;
    padding: 20px;

width: 90%;
word-spacing: 75px;
    a{
        color:white;
        text-decoration: none;
       
    }
    a:hover{
        color: gray;
    }
}
@media  screen  and (max-width:900px){
    .header{
        word-spacing: 43.5px;

    }
}
@media  screen  and (max-width:750px){
    .header{
        word-spacing: 37px;

    }
}
@media  screen  and (max-width:680px){
    .header{
        word-spacing: 27px;

    }
}
@media  screen  and (max-width:580px){
    .header{
        word-spacing: 20px;

    }
}
@media  screen  and (max-width:480px){
    .header{
        word-spacing:8px;

    }
}



.main{        
    text-align: center;
    margin:50px;
    color: white;
    padding:50px;
    background-color: black;

    h1{
        font-size: 50px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color:rgb(238, 238, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
input{
    margin-top:30px;
    margin-bottom: 30px;
    border: 10px solid rgb(241, 241, 240);
    width: 300px;
    border-radius: 20px 0px 0px 20px;
    background: rgb(250, 248, 247);

}
a{
    color: white;
font-size: 20px;

}
a:hover{
    color: antiquewhite;
}
button{
  border: 2px solid green;
    padding: 9px;
    background: green;
    width: 50px;
    border-radius: 0px 20px 20px 0px;
}
 }
 @media screen and (max-width:590px){
.main{
    input{
        width:auto;
    }
}
 }
  @media screen and (max-width:450px){
.main{
    input{
        width:100px;
    }
}
 }
 .custom-shape-divider-bottom-1766775370 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1766775370 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 71px;
}

.custom-shape-divider-bottom-1766775370 .shape-fill {
    fill: black;
}
.custom-shape-divider-top-1766831809 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1766831809 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 71px;
}

.custom-shape-divider-top-1766831809 .shape-fill {
    fill: black;
}

#html{margin-top: -50px;
    padding: 90px;
    text-align: center;
    background:rgb(241, 217, 185);
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: white;
    }
    p{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
    }
    a{text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

    }
}
.l{
    border: 0px solid white;
    padding: 8px 30px 8px 30px;
    background:white;
    border-radius: 20px;
    color: black;
    
}
.l:hover{
    background-color: lightgray;
    color: white;
}
.v{
    
    border: 0px solid white;
    padding: 8px 28px 8px 28px;
        border-radius: 20px;
background: lightblue;
color: white;
}
.v:hover{background: rgb(6, 159, 231);

}
.hr{
        border: 0px solid white;
    padding: 8px 20px 8px 20px;
        border-radius: 20px;
background: black;
color: white;
}
.hr:hover{
    background-color: gray;
}
.gc{        border: 0px solid white;
        padding: 8px 30px 8px 30px;
        border-radius: 20px;
background-color: rgb(248, 205, 211);
color: black;
}
.gc:hover{
    background-color: rgb(244, 163, 176);
}
.fle{
    display: flex;
}
.pra{
    background-color:rgb(222, 220, 220);
width: 400px;
text-align: start;
padding: 20px;
margin-top: 50px;
margin-left: 150px;
height: 300px;
border-radius: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
button{
    margin-top: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background: rgb(95, 239, 95);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover{
    background-color: rgb(7, 202, 137);
}
}

.ht{
    background-color: white;
    color:rgb(27, 19, 19);
    padding: 10px;
   border-left: 2px solid red;
}
@media screen and (max-witdh:400px){
    .pra{
        visibility: hidden;
    }
}